<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error Repository | Plugin</title>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat"></link>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato"></link>
    <link rel="stylesheet" th:href="@{/css/main.css}"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="icon" th:href="@{/favicon.ico}"></link>

    <style>
        .jumbotron {
            padding: 50px 25px;
        }

        .container-fluid {
            padding: 30px 50px;
        }
    </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/#about}">ABOUT</a></li>
                <li><a th:href="@{/plugin}">PLUGIN</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron text-center">
    <h2>Plugin</h2>
</div>


<div class="container-fluid">
    <h3>機能</h3>
    <ul>
        <li>閲覧しているWebページでエラーが発生するとエラーリポジトリのサーバに自動で送信します<br/>
            送信したエラー情報は一時的にブラウザに保存されます
        </li>
        <li>アイコンをクリックするとご自身のブラウザから送信した情報の一覧を確認できます<br/>
            一覧の[削除依頼]ボタンをクリックすることでサーバに保存されたデータごと削除することができます
        </li>
    </ul>
</div>

<div class="container-fluid bg-grey">
    <h3>収集する項目</h3>
    <ul>
        <li>URL</li>
        <li>日時</li>
        <li>ブラウザ環境</li>
        <li>エラーメッセージ</li>
        <li>スタックトレース</li>
        <li>ファイル名</li>
        <li>行番号，列番号</li>
        <li><span class="badge badge-primary">許可時のみ</span> URLのクエリ部分(?以降の部分)</li>
        <li><span class="badge badge-primary">許可時のみ</span> Cookie</li>
    </ul>
    <div>
        ※ エラーの発生状況を再現するのに役立つかどうかで選定<br/>
        ※ <span class="badge badge-primary">許可時のみ</span> の項目については下記
    </div>
</div>

<div class="container-fluid">
    <h3>一部の項目について</h3>
    <ul>
        <li>URLのクエリ部分・Cookieは個人情報が含まれる可能性があるため公開しません<br/>初期設定では収集も行いません</li>
        <li>設定画面から許可をしていただいた場合のみ、収集及びエラー状況再現を目的としたページ開発者への情報提供を行います</li>
    </ul>
</div>

<footer class="container-fluid text-center bg-grey">
    <a href="#myPage" title="To Top of Page">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>To Top of Page</p>
</footer>

<script>
    $(document).ready(function () {
        // Add smooth scrolling to all links in navbar + footer link
        $("footer a[href='#myPage']").on('click', function (event) {

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {

                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 300, function () {

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            } // End if
        });
    })
</script>

</body>
</html>